h1{ text-align:left;
    text-decoration: solid;
    animation:forwards ;
    font-size: 50px ;
    text-align: center;
    color: rgb(230, 11, 11);
    background-color:blue;



}

P{ font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    animation-duration: 0ms;
color: rgb(146, 7, 151); 
stroke: black;
stroke-linecap: round;
text-decoration:double;
text-align: justify;
text-shadow:10cap
}

span{font-size: 20px;
}
img{ border-radius: 30%;
    stroke: blueviolet;
    stroke-width: 10%;
    
}

a{ background-color: blue; border-radius: 30%;
   color: antiquewhite;
    
}
text{ stroke: black;
    stroke-width: 5%;


}